@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');



*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 43px;
    height: 42px;
    margin-right: 20px;
    border: none;
    font-size: 17px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgba(0, 255, 224, 0.5);
}

/* plus sign */
.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: white;
}

/* text */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}

/* hover effect on button width */
.Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
}

.Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 5px;
}

/* hover effect button's text */
.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition: ease-in-out;
    color: black;
    transition-duration: .4s;
    padding-right: 10px;
}

.Btn:hover path {
    fill: black;
    transition: ease-in-out .8s;
}

/* button click effect*/
.Btn:active {
    transform: translate(2px, 2px);
}

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #dfceff;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #ffffff;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #ffffff;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #ff0000;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}

.signupBtn {
    width: 140px;
    height: 40px;
    border-radius: 30px;
    border: none;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    justify-content: flex-start;
    padding-left: 25px;
    gap: 9px;
    color: white;
    /* background: linear-gradient(to right, #00d2b9, #00d2b9); */
    background: rgba(0, 255, 224, 0.5);
    position: relative;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.212);
}

.arrow {
    position: absolute;
    right: 7.5px;
    background-color: rgb(255, 255, 255);
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.signupBtn:hover .arrow {
    animation: slide-in-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    transition: ease-in-out 0.8s;
    background-color: black;
}

.signupBtn:hover {
    transition: ease-in-out 0.8s;
    color: rgb(0, 0, 0);
}


@keyframes slide-in-left {
    0% {
        transform: translateX(-10px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* 
font style start
*/
.righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* 
font style end
*/

/*  
///////////////////////////
*/

.navbar {
    position: absolute;
    z-index: +3;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 30px;
    box-sizing: border-box;
    font-size: 23px;
    
    /* background-color: rgb(0, 0, 0); */
}

.brand {
    font-size: 45px;
    color: white;
}

.brand:hover {
    color: white;
}

.collapse {
    justify-content: flex-end;
    padding-right: 20px;
}


.nav-link {
    color: #ffff;
    font-size: 20px;
    margin-right: 40px;
    font-weight: 400;
}

.nav-link:hover {
    color: black;
    transition: ease-in-out .8s;
}

.mountain  {
    position: absolute;
    /* bottom: 10px; */
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

section {
    margin-top: -100px;
    z-index: +2;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, .25);
    width: 100%;
    height: 89.5vh;
}

.design {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 47.4vh;
    object-fit: cover;
}

.main-info {
    /* position: absolute; */
    color: #ffff;
    width: 100%;
    z-index: 1;
    display: flex;
    margin-bottom: 20vh;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.main-info .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-info .teks {
    width: 60%;
}

.main-info h1 {
    font-size: 80px;
}

.main-info p {
    font-size: 20px;
}


.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

/* 
content 
*/

.content {
    display: flex;
    gap: 250px;
    width: 100%;
}

.content .information {
    flex-direction: column;
    width: 70%;
    display: flex;
}

.content .information .world {
    margin-left: 40px;
    width: 80%;
}

.content .information h1 {
    margin-bottom: 25px;
    margin-left: 20px;
    font-weight: 600;
    font-size: 40px;
}

.content .information p {
    letter-spacing: 1px;
    font-size: 22px;
}

.gmbr {
    display: flex;
    position: absolute;
    width: 30%;
    right: 0;
    align-items: center;
    justify-content: center;
}


.people img {
    position: absolute;
    bottom: 143px;
    z-index: +1;
    left: -120px;
    width: 30%;
    object-fit: cover;
    outline: #ffff solid 10px;
}

.air-plane img {
    position: relative;
    width: 60%;
    top: -650px;
    outline: #ffff solid 10px;
    object-fit: cover;
}

.rekomen {
    margin-top: 280px;
    width: 100%;
    height: 50vh;
    background-color: #304E71;
}