/* template start */

.form {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background-color: #eeeeee;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}

.title {
    font-size: 28px;
    color: rgba(48, 78, 113, 1);
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: rgba(48, 78, 113, 1);
}

.title::before {
    width: 18px;
    height: 18px;
    background-color: rgba(48, 78, 113, 1);
}

.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
}

.form label .input {
    width: 100%;
    padding: 10px 10px 5px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form label .input+span {
    position: absolute;
    left: 10px;
    top: 10px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
    top: 10px;
    font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
    top: 10px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input:valid+span {
    /* color: green; */
    top: 0px;
}

.submit {
    border: none;
    outline: none;
    width: 20%;
    margin-top: 40px;
    background-color: rgba(48, 78, 113, 1);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
}

.submit:hover {
    background-color: rgb(56, 90, 194);
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

/* template end */



nav {
    height: 10vh;
    background-color: rgba(48, 78, 113, 1);
}

.navbar {
    position: static;
}

.container-plann {
    display: flex;
    gap: 20px;
    width: 100%;
}

.conten {
    /* background-color: red; */
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

.accomodation, .transportation, .activity, .location {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 10px;
}


.date {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    margin-top: -30px;

}

footer{
    margin-top: 20vh;
}

.footer-title h1 {
    font-size: 30px;
}

.footer-isi h3 {
    font-size: 20px;
}

.footer-isi p {
    font-size: 13px;
}

.link,
.copyright {
    font-size: 13px;
}

.create-plan {
    width: 100%;
    height: 100vh;
    display: flex;
}

::-webkit-calendar-picker-indicator{
    display: absolute;
    opacity: 0;
}

.time {
    color: transparent;
}

.waktu {
    width: 100%;
}

.time:focus, .time:valid {
    color: rgba(0, 0, 0, 1);
}